<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkKoyu8celA0k2UB_HNmrKwjHn2f5AYMI</string>
	<key>GCM_SENDER_ID</key>
	<string>779585453571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginScrean.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>login-screan-325e6</string>
	<key>STORAGE_BUCKET</key>
	<string>login-screan-325e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779585453571:ios:24871d502b92e843991836</string>
</dict>
</plist>